<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="If you have suggestions for more cool widgets, add them :)"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="todos" data-view="List" data-title="TODOs" data-unordered="true"  style="background-color:#9c4274"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="github_repo_commits" data-view="List" data-unordered="true" data-title="Recent Commits"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="build_status" data-view="Status" data-title="Build Status"></div>
    </li>

  </ul>
</div>
